<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input type="number" required [(ngModel)]="weight" name="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender" placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-input type="number" required [(ngModel)]="time" name="time"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bottles</ion-label>
        <ion-input type="number" required [(ngModel)]="bottles" name="bottles"></ion-input>
      </ion-item>
      <ion-item>Promilles {{result | number:'1.2-2'}}</ion-item>
      <ion-button (click)="calculate()">Calculate</ion-button>
    </ion-list>
</ion-content>
